* {
  font-family:verdana;
}



h1 {
  text-align:center;
}



.buttontext {
  font-size: 16px;
  margin: 4px;
  position: relative;
  top: 14px;
}

.buttondisp {
  font-weight: 1000;
  font-size: 16px;
  margin: 4px;
  position: relative;
  top: 28px;
}

.button {
  height: 80px;
  width: 140px;
  margin-left:-70px;
  font-size: 15px;
}



#page1 {
  position: relative;
  top: 80px;
}

#skibiditext {
  position: relative;
  top: 50px;
}

#incrementButton {
  position: absolute;
  left: 45%;
  top: 0px;
}

#powerButton {
  position: absolute;
  left: 45%;
  top: 100px;
}

